<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="filter.css">
    <title>Document</title>
</head>
<body>
    <aside class="ecom-filter flex-column">
        <div class="ecom-filter-header">
            <span>Filter</span>
            <span>Clear</span>
        </div>
        <div class="ecom-filter-price">
            <label for="price">Price</label>
            <input type="range">
        </div>
        <div class="ecom-filter-category flex-column">
            <p for="category">Category</p>
            <label for=""><input class="filter-label" type="checkbox">Men Clothing</label>
            <label for=""><input class="filter-label" type="checkbox">Men Clothing</label>
        </div>
        <div class="ecom-filter-rating flex-column">
            <p for="rating">Rating</p>
            <label for=""><input class="filter-label" type="radio">4 and above</label>
            <label for=""><input class="filter-label" type="radio">3 and above</label>
            <label for=""><input class="filter-label" type="radio">2 and above</label>
            <label for=""><input class="filter-label" type="radio">1 and above</label>
        </div>
        <div class="ecom-filter-sort flex-column">
            <p for="sort">Sort By</p>
            <label for=""><input class="filter-label" type="radio">Price : High to Low</label>
            <label for=""><input class="filter-label" type="radio">Price : Low to High</label>
        </div>
    </aside>
</body>
</html>