@import url(../../css/colors.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ecom-nav-container{
    max-width: 100vw;
    background-color:var(--primary-color);
    color: var(--text-color);
    display: flex;
    height: 4rem;
    padding: 0rem 4rem;
    justify-content: space-between;
    align-items:center;
    font-family: var(--font);
}

.search-btn{
    color: var(--primary-color);
    outline:none;
    border: none;
    padding: 0.5rem;
    font-size:1rem;
    background-color:var(--text-color)
}

.ecom-nav-title{
    font-size:2rem;
}

.ecom-nav-searchbar{

    height: 2.7rem;
    width: 20rem;
    outline:none;
    border: none;
    background-color: var(--text-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ecom-nav-searchbar-input{
    border: none;
    outline: none;
    padding:0.5rem;
    width:12rem;
}

.ecom-nav-action-btn{
    margin:0.25rem;
    padding:0.25rem;
    outline:none;
    border:none;
    cursor: pointer;
    background-color:var(--text-color);
    width:4rem;
    height:2rem;
    color:var(--primary-color);
    font-size:1rem;
}

.ecom-nav-action-btns{
    display:flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
}

.ecom-nav-icon{
    color: var(--primary-color);
}