<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="navigation.css">
    <title>Document</title>
</head>
<body>
    <nav class="ecom-nav-container">
        <p class="ecom-nav-title">Jersea Store</p>
        <input class="ecom-nav-searchbar" type="text" placeholder="Search"/>
        <div class="ecom-nav-action-btns">
            <button class="ecom-nav-action-btn nav-btn-login">Login</button>
            <button class="ecom-nav-action-btn">Cart</button>
            <button class="ecom-nav-action-btn">Wishlist</button>
        </div>
    </nav>
</body>
</html>