.main-content-wishlist{
    display: flex;
    flex-direction:column;
    padding:2rem 4rem;
    justify-content:center;
    align-items: center;
    font-family:var(--font);
}

.wishlist-title{
    font-size:2rem;
    margin: 1rem;
    color: var(--primary-color);
    font-weight:bold;
}

.wishlist-prod-container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap:2rem;
}

.wishlisted{
    color: var(--heart-fill-red);
}