.main-content-listing{
    display: flex;
    flex-direction: row;
    font-family:var(--font);
}

.product-listing-main{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4rem;
    margin: 3rem 6rem;
}